@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');


:root {
  --background: #F6F6F6;
  --foreground: #171717;
  --font-roboto: 'Roboto', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-geist-mono);


  --color-primary-600: #EF3340;
  --color-primary-700: #cf2531;
  --color-black: #262626;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

.custom-bg {
  background-image: url("/workFlow.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 600px auto;
}

@media (max-width: 768px) {
  .custom-bg {
    background-image: none;
  }
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .payload-richtext ul {
    @apply list-disc list-inside;
  }

  .payload-richtext ol {
    @apply list-decimal list-inside;
  }

  /* .payload-richtext a {
    @apply text-primary-600 hover:text-primary-700;
  } */

  .payload-richtext h1 {
    @apply text-4xl leading-tight font-bold mt-8 mb-6 scroll-mt-[100px];
  }

  .payload-richtext h2 {
    @apply text-3xl leading-tight font-semibold mt-8 mb-5 scroll-mt-[100px];
  }

  .payload-richtext h3 {
    @apply text-2xl leading-snug font-semibold mt-7 mb-4 scroll-mt-[100px];
  }

  .payload-richtext h4 {
    @apply text-xl leading-snug font-semibold mt-6 mb-4 scroll-mt-[100px];
  }

  .payload-richtext h5 {
    @apply text-lg leading-normal font-semibold mt-5 mb-3 scroll-mt-[100px];
  }

  .payload-richtext h6 {
    @apply text-base leading-normal font-semibold mt-4 mb-3 scroll-mt-[100px];
  }
}