@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');


:root {
  --background: #F6F6F6;
  --foreground: #171717;
  --font-roboto: 'Roboto', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-geist-mono);
  

  --color-primary-600: #EF3340;
  --color-black: #262626;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}
